/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");

/* Basic css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Barlow Semi Condensed", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

/* Common styles */
:root{
    --color-white: #fff;
}

/* Navbar styles */
.navbar{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 24px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 12px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--color-white)
}

/* Hero section styles */
.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.541)), url("../img/hero-bg.jpg") no-repeat top right / cover;
}

.hero .hero-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 1320px;
    margin: 0 auto;
}

.hero .hero-txt{
    position: relative;
    width: 50%;
    color: var(--color-white)
}

.hero h3{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero h1{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.hero p{
    line-height: 2;
    margin-bottom: 40px;
}

.hero a{
    text-decoration: none;
    background-color: var(--color-white);
    padding: 12px 16px;
    text-transform: uppercase;
    color: gray;
    border-radius: 4px;
}
